<p id="notice"><%= notice %></p>

<h1>Tallies</h1>

<table>
  <thead>
    <tr>
      <th>Member #</th>
      <th>Points</th>
      <th colspan=1></th>
    </tr>
  </thead>

  <tbody>
    <% @members.each do |member| %>
      <tr>
        <td><%= member.number %></td>
        <td><%= member.points %></td>
        
        <td><%= link_to 'Show Details', member %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
